#####**ASSIGNMENT NO.2**

**Question No.1.] What are the two values of the Boolean data type? How do you write them?**

**ANS :=** In python we have inbuilt datatype that is boolean. This datatype perform operations on basis of 'True' and 'False' condition.

There are two values of boolean data-type that is True & False 


*   True -> True is denoted by '1'
*   False -> False is denoted by '0'

Here see the below code to understand how we use the boolean values

In [ ]:
a = True 
type(a)

b = False 
type(b)

bool

*   Here above example shows us the type of the variable.

In [ ]:
a = 22
b = 33 

print(bool(a==b))

False

In [ ]:
a = 22
b = 33 

print(bool(a != b))

True



*  In the 1st example we are checking that a == b or not. So the value of the a is 22 and value of b is 33 so it is clear that a is not equal to b so here condition becomes false. So it return us false.

*  In the second example we are checking that a != b. So it is clear that 22 is not equal to 33. So at the end it return true on the basis of our condition.

-------------------------------------------------------------------------------------------

**Question No.2] What are the three different types of Boolean operators?**

**ANS :=** There are three types of boolean operators that is 

*   **NOT**
*   **OR**
*   **AND**
 
     
  **1. NOT :=** Not operator reverse the final result of boolean expression

  *  not(True) = False 
  *  not(false) = True

In [ ]:
not(True)

False

In [ ]:
not(False)

True

**2. OR :=** 'OR' operator is similar to the bitwise 'OR' operator it return 'True' if among two conditions one condition becomes 'True'
It return 'False' when both condition becomes 'False'

See the following examples

In [ ]:
# 1st exapmle 
a = 66 
b = 77 

if a == b or a != b  :
  print("hellow world")
else :
  print("hellow buddy")

hellow world

*    In the first exapmle one condition become true (a != b )  then it return us 'hellow world' as the output.

In [ ]:
# 2nd example 
a = 66 
b = 77 
c = 45

if a == b or a + b < c  :
  print("hellow world")
else :
  print("hellow buddy")

hellow buddy

*   In the second example when both conditions becomes false it give us the output as 'hellow buddy'.

**3. AND :=** 'AND operator is the thid boolean operator which we have seen it is similar to the bitwise 'AND' operator

Quality of the 'AND' operator is that it return true if both conditions becomes true otherwise it return false.

See the following example.

In [ ]:
# 1st example
a = 44 
b = 44 
c = 565

if a == b and a + b < c :
  print("hellow world")
else :
  print("hellow buddy")

hellow world

*   In the 1st example both conditions are becomes 'True' then it return the output as 'hellow world'

In [ ]:
# 2nd example
a = 44 
b = 44 
c = 565

if a == b and a + b > c :
  print("hellow world")
else :
  print("hellow buddy")

hellow buddy

*  In the 2nd example one conditions( a + b > c ) are becomes 'False' then it return the output as 'hellow buddy'

--------------------------------------------------------------------------------

##### **Question No. 3.] Make a list of each Boolean operator's truth tables (i.e. every possible combination of Boolean values for the operator and what it evaluate ).**

**ANS :=**

In [1]:
# AND operator ( & )
print("AND operator ( & )")
print("p\tq\tp & q")
print("True\tTrue\t", True & True)
print("True\tFalse\t", True & False)
print("False\tTrue\t", False & True)
print("False\tFalse\t", False & False)

# OR operator ( | )
print("\nOR operator ( | )")
print("p\tq\tp | q")
print("True\tTrue\t", True | True)
print("True\tFalse\t", True | False)
print("False\tTrue\t", False | True)
print("False\tFalse\t", False | False)

# NOT operator ( ~ )
print("\nNOT operator ( ~ )")
print("p\t~p")
print("True\t", not True)
print("False\t", not False)

AND operator ( & )
p	q	p & q
True	True	 True
True	False	 False
False	True	 False
False	False	 False

OR operator ( | )
p	q	p | q
True	True	 True
True	False	 True
False	True	 True
False	False	 False

NOT operator ( ~ )
p	~p
True	 False
False	 True

--------------------------------------------------------------------------------

**Question No.4] 4. What are the values of the following expressions?**

**ANS :=**

(5 > 4) and (3 == 5) = False 

not (5 > 4) = False 

(5 > 4) or (3 == 5) = True 

not ((5 > 4) or (3 == 5)) = False 

(True and True) and (True == False) = False 

(not False) or (not True) = True

In [2]:
(5 > 4) and (3 == 5)

False

In [3]:
not (5 > 4)

False

In [4]:
(5 > 4) or (3 == 5)

True

In [5]:
not ((5 > 4) or (3 == 5))

False

In [6]:
(True and True) and (True == False)

False

In [7]:
(not False) or (not True)

True

--------------------------------------------------------------------------------

**Question No.5] 5. What are the six comparison operators?**

**ANS :=**

In [ ]:
# Operator      	Name	
# ==	    ->     Equal	x == y	
# !=	    ->     Not equal	x != y	
# >       ->  	 Greater than	x > y	
# <       ->   	 Less than	x < y	
# >=      ->  	 Greater than or equal to	x >= y	
# <=	    ->     Less than or equal to

----------------------------------------------------------------------------------

**Question No.6] How do you tell the difference between the equal to and assignment operators?Describe a condition and when you would use one.**

**ANS :=**


**1.] Eqaul To Operator :=**

"==" ---> This is the equal to operator which is used for comparision 
     
*  For exapmle 
*  if a == b Then it return true value and if a a != b (is not eqaul to b) then it return false value

**2.] Assignment operator**
'=' ---> This is called assignment operator it is used to assign value to the variable so later in program we will able to use it for further operation

*   For exapmple 
*   a = 34 
*   Then the value of a become 34

In [9]:
a = 34
print(a)

34

------------------------------------------------------------------------------------

**Question No.7] Identify the three blocks in this code:**

spam = 0

if spam == 10:

print('eggs')






if spam > 5:

print('bacon')

else:

print('ham')

print('spam')

print('spam')

**ANS :=**

In [10]:
spam = 0

if spam == 10:
   print('eggs')  
#  This is the first block of the code 

if spam > 5:
  print('bacon')
#  This is the second block of the code 

else:
  print('ham')
  print('spam')
  print('spam')
#  This is the third block of the code

ham
spam
spam

----------------------------------------------------------------------------------

**Question No.8] Write code that prints Hello if 1 is stored in spam, prints Howdy if 2 is stored in spam, and prints Greetings! if anything else is stored in spam.**

**ANS :=**

In [11]:
spam = int(input("Enter the number : "))

if spam == 1 :
  print("Hello")
elif spam == 2 :
  print("Howdy")
else :
  print("Greetings!")

Enter the number : 1
Hello

In [12]:
spam = int(input("Enter the number : "))

if spam == 1 :
  print("Hello")
elif spam == 2 :
  print("Howdy")
else :
  print("Greetings!")

Enter the number : 2
Howdy

In [13]:
spam = int(input("Enter the number : "))

if spam == 1 :
  print("Hello")
elif spam == 2 :
  print("Howdy")
else :
  print("Greetings!")

Enter the number : 34
Greetings!

--------------------------------------------------------------------------------------

**Question No.9] If your programme is stuck in an endless loop, what keys you’ll press?**

**ANS := ctrl+c**

--------------------------------------------------------------------------------

**Question No.10] How can you tell the difference between break and continue?**

**ANS :=**

**1.] Continue :=**
If we don't want to break the loop but still we want to perform operation by skipping some condition then at that time we use continue statement 

To understand it better see the below code 

In the below code by assuming the condition that is i % 2 == 0 for if this condition is satisfy then we skip those value which gives the remainder 0 by divinding i % 2 and print those value which are not completely divided by 2

Here we use continue statement to skip those values which are completely divisible by 2

In [28]:
for i in range(1,11) :
  if i % 2 == 0 :
    continue
  print(i)

1
3
5
7
9

**2.] Break :=**  Break statement is used to break the loop on the basis of some condition 

See the following example to understand it better 

In below code the loop will be breaked when the condition is satisfied

In [30]:
for i in range(1,10) :
  if i > 5 :
    break 
  print(i)

1
2
3
4
5

---------------------------------------------------------------------------------------

**Questioin No.11] In a for loop, what is the difference between range(10), range(0, 10), and range(0, 10, 1)?**

**ANS :=**

**1st range(10) := In this simply it print the 10 values in range of 0 to 9**

In [32]:
for i in range(10) :
  print(i)

0
1
2
3
4
5
6
7
8
9

---------------------------------------------------------------------------------------

**2nd range(0,10) := In this simply it also print the 10 values from 0 to 9.
In this condition '0' is the starting point and '10' is the ending point
We can also make the changes as per our requirements we can put any value on the place of '0' and also on the place of '10'**

In [33]:
for i in range(0,10) :
  print(i)

0
1
2
3
4
5
6
7
8
9

-------------------------------------------------------------------------------------

**3rd range(0,10,1) := In this third condition '0' is the starting position '10' is the ending positon and  '1' is used for jumping**

In [39]:
for i in range(0,10,2) :
  print(i)

0
2
4
6
8

**In the below code '2' is used for jump**
**jump is perform the operation on the basis of indexing** 

**Lets's see how to evaluate it** 

0 + 2 = 2 , i[2] = 2 

Now i jump on the index no.2

2 + 2 = 4 , i[4] = 4 

Now i jump on the index no.4

4 + 2 = 6 , i[6] = 6 

Now again i jump on the index no.6

6 + 2 = 8 , i[8] = 8 

Now for the further opertion we don't have values then we stop here 
becoz if go to add 2 in 8 it becomes 10 but we have values till 9 so loop will stop here

----------------------------------------------------------------------------------------

**Question No.12] Write a short program that prints the numbers 1 to 10 using a for loop. Then write an equivalent program that prints the numbers 1 to 10 using a while loop.**

**ANS :=**

In [41]:
for i in range(1,11) :
  print(i)

1
2
3
4
5
6
7
8
9
10

In [46]:
i = 1 
while i < 11 :
  print(i)
  i = i + 1

1
2
3
4
5
6
7
8
9
10

------------------------------------------------------------------------------------

**Question No.13] If you had a function named bacon() inside a module named spam, how would you call it after importing spam?**

**ANS :=** Assuming the spam module containing the bacon() function has been imported into your Python script, you can call the bacon() function like this:

import spam

spam.bacon()